html {
  scroll-behavior: smooth;
}

.projectsContent {
  width: 100% !important;
  padding: 60px 60px;
  background-color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectsContent .headerProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectsContent h2 {
  font-size: 40px;
  margin-bottom: 5px;
  color: #ee3535;
}

.projectsContent .projectsText {
  width: 50%;
}

.projectsContent .projectsText a {
  color: #ee3535;
  font-weight: 500;
}

.projectsContent .projectsImage {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.3;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.projectsContent .projectsImage img {
  width: 70%;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  -webkit-filter: drop-shadow(2px 2px 7px black);
          filter: drop-shadow(2px 2px 7px black);
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(black), to(transparent));
  -webkit-mask-image: linear-gradient(to right, transparent, black, transparent);
          mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(black), to(transparent));
          mask-image: linear-gradient(to right, transparent, black, transparent);
}

.projectsContent .gridProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectsContent .gridProjects li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 10px;
  width: 270px;
  height: 170px;
  list-style-type: none;
  -webkit-box-shadow: 3px 3px 7px #101010;
          box-shadow: 3px 3px 7px #101010;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.projectsContent .gridProjects li:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.projectsContent .gridProjects li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectsContent .gridProjects li .visitButton {
  background-color: #ee3535;
  border: 2px solid #ee3535;
  border-radius: 5px;
  position: absolute;
  bottom: 15px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-weight: 500;
  padding: 0.6rem;
  width: 100px;
  height: 40px;
  pointer-events: none;
}

.projectsContent .gridProjects li p {
  font-size: 0.9rem;
  text-align: center;
  top: 5%;
  margin: 5px;
  line-height: 20px;
  pointer-events: none;
  color: #e1e1e6;
  position: absolute;
}

.projectsContent .gridProjects li img {
  width: 100%;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 2;
}

.projectsContent .gridProjects li img:hover {
  opacity: 0.05;
}
/*# sourceMappingURL=Projects.css.map */