@import '../../../../styles/colors.scss';

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10%;

  .headerProjects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .projectsText {
      max-width: 85%;
      text-align: center;

      a{
        color: $primary-text-color;
        text-decoration: none;
        font-weight: 500;

        &:hover{
          filter: brightness(.8);
          transition: filter .2s;
        }
      }

      h2{
        font-size: 40px;
        font-size: 2.6rem;
        margin-bottom: 15px;
        color: $primary-text-color;
      }
    }

    .observation{
      color: $primary-text-color;
      margin-top: 10px;
      display: block;
    }
  }

  .projectsImage {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;

    filter: grayscale(1);

    img {
      filter: brightness(0.9);
      filter: drop-shadow(2px 2px 7px black);
      mask-image: linear-gradient(to right, transparent, black, transparent);
      object-fit: cover;
      width: 70%;
    }
  }

  .gridProjects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 35px;
    list-style-type: none;
    width: 95%;

    .projectCard{
      background: rgb(41,41,41);
      width: 460px;
      border-radius: 15px;
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.333);
      padding: 10px;
      position: relative;

      &:hover{
        .backgroundProjectImage{
          opacity: 0.5;
          filter: brightness(0.3);
        }
        p, .buttonsContainer, span{
          display: flex;
        }
      }
      
      .backgroundProjectImage{
        transition: filter .2s, opacity .2s;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 15px;
      }

      .buttonsContainer{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        gap: 15px;
        animation: appear 0.3s;

        .visitButton, .githubButton{
          border: none;
          border-radius: 7px;
          padding: 7px 10px;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 5px;
          box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
          font-weight: 500;

          &:hover{
            filter: brightness(.8);
            transition: filter .2s;
          }
        }

        .visitButton{
          background: $primary-text-color;
          color: white;
        }

        .githubButton{
          background: white;
          color: rgb(48, 48, 48);
        }
      }
      p{
        position: absolute;
        inset: 0;
        width: 50%;
        height: 50%;
        margin: auto;
        text-align:center;
        display: none;
        align-items: center;
        animation: appear 0.3s;
      }
      span{
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        background-color: rgb(34, 34, 34);
        border-radius: 7px;
        text-align: center;
        display: none;
        padding: 10px;
        animation: appear 0.3s;
      }
    }
  }
}


@keyframes appear {
  from {
    opacity: 0
  }
  to{
    opacity: 1
  }
}

@media (max-width: 1100px) {
  .projectCard{
    width: 100%;
  }

  .headerProjects{

    .projectsText{
      text-align: center !important;
      max-width: 100% !important;
    }

    .projectsImage{
      display: none !important;
    }
  }
}