.headerContent {
  width: 100vw;
  height: 70vh;
  background-image: url("../../../public/assets/images/mountain-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(15%, black));
  -webkit-mask-image: linear-gradient(to top, transparent, black 15%);
          mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(15%, black));
          mask-image: linear-gradient(to top, transparent, black 15%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerContent .header {
  -webkit-animation: appear 1s;
          animation: appear 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: initial;
      align-self: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  padding: 20px 60px;
}

.headerContent .header .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  margin-top: 5px;
}

.headerContent .header .socialMedia li {
  margin: 0px;
  font-size: 15px;
}

.headerContent .header .socialMedia li:hover {
  color: #7e54de;
}

.headerContent .menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: appear 1s;
          animation: appear 1s;
}

.headerContent nav {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerContent li {
  margin-left: 15px;
  list-style-type: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.headerContent li:hover {
  color: #7e54de;
}

.headerContent h1 {
  height: 40px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #7e54de;
}

.headerContent h1:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.headerContent .welcomeContent {
  -webkit-animation: appear 1s;
          animation: appear 1s;
  width: 550px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.headerContent .welcomeContent h2 {
  font-size: 56px;
  margin-bottom: 5px;
}

.headerContent .welcomeContent h3 {
  color: #7e54de;
  margin-top: 40px;
}

.headerContent .welcomeContent b {
  color: #7e54de;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.link-social-media .item-social-media path {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.link-social-media:hover .item-social-media path {
  fill: #7e54de;
}
/*# sourceMappingURL=Header.css.map */