$bg-color:#151515;
$primary-text-color: #7e54de;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
  color: white
}
:root{
  background-color:$bg-color;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;             /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #252525;
}
body::-webkit-scrollbar-thumb {
  background-color: $primary-text-color;
  border-radius: 20px;
  border: solid 2px #252525
}