@import "./colors.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: $gray-color-100;
}

:root {
  background: $gray-color-600;
  color: $gray-color-100;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: $gray-color-500;
}

body::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 20px;
  border: solid 2px $gray-color-500;
}
